body{
    background-color: rgb(34, 34, 34);
    color:white; 
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;  
    
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    
    flex-direction: column;
    line-height: 10px;
}

.logo-batman{
    width: 100px;
}

li{
    display:inline-block;
    margin: 15px;
    
}

a{
    color:white;
}

a:hover{
    color:#fdd20d;
    transition:0.3s all ;
}

#inscreva-se-btn{
    border: 2px solid #fdd20d;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color:#fdd20d ;
    color:white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.batman {
    width: 650px;
    margin-top: 50px;
    animation: moveBatman 2s infinite alternate ease-in-out;
}

span{
    color:#fdd20d

}

.selection{
    margin-bottom: 500px;
    font-size: 40px;
    line-height: 10px;   
}

.login-box{
    position: absolute;
    top: 70%;
    left:21%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box{
    position:relative
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid #fff;
    outline:none;
    background: transparent;
}

.login-box .user-box label {
    position:absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size:16px;
    color:#fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left:0;
    color:#fdd20d;
    font-size:12px
}

.login-box form a{
    position:relative;
    display:inline-block;
    padding:10px 20px;
    color:#fdd20d;
    font-size:16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover{
    background-color:#fdd20d;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #fdd20d,
                0 0 25px #fdd20d,
                0 0 50px #fdd20d,
                0 0 100px #fdd20d;
}

.login-box a span{
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fdd20d);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100%{
        left:100%
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fdd20d);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.login-box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fdd20d);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right:-100%;
    }
    50%, 100%{
        right:100%;
    }
}

.login-box a span:nth-child(4){
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fdd20d);
    animation: btd-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4{
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

@keyframes moveBatman {
    From {
        transform: translate(-5%, -5%) rotate(5deg);
    }
}